# subset

review ccore methonds to sleect data frame a `pandas.Dataframe`

In [1]:
import pandas as pd

#read in file, argument in the file path
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

#print data frame first 5 rows
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [3]:
#print data frames last 5 rows
df.tail()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [4]:
# print data frame colom names
df.columns

Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')

In [5]:
# List the data types
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [6]:
type(df.dtypes)

pandas.core.series.Series

In [9]:
#print data frames shape: output is a type (#row #columns)
df.shape

(14, 13)

## Selecting a single column

Simplest case: slelcting a single column by column name

general syntax

`df['col_name]`

This is an exmaple of label-based subsetting. which menas we sleect data from our data frame using the names of. the cols, not thier position

### Example

In [12]:
# Select number of bird species observed at mua lagoon in spring
mul_spring = df['MUL_spring']
mul_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [13]:
type(mul_spring)

pandas.core.series.Series

We can do label based- subsetting of a single column attriure syntax

`df.column_name`
### Exmaple

In [14]:
df.MUL_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

Favor `df['col_name']` instead of `df.col_name`
why?
Becasue col name can be an atribute or have a space

### Selecting multiple collumns
... Using list of columns.
syntax:

```
df[['col1', 'col2', 'col3']]
```

Notice there are doublt bracets! this is abecause we are pssing a list of nmaes `[col1, col2, 'col3]'` to select the selction brackets []

In [15]:
#select species abundance in TJ estuary during einter and fall
tje_wf= df[['TJE_winter', 'TJE_fall']]
tje_wf

In [19]:
# Check the data type of tje_wf
print(type(tje_wf))

#check the shape of the selection
tje_wf.shape

<class 'pandas.core.frame.DataFrame'>

(14, 2)

## ... using a slice 

to select a slice of the colunms we still use a specieal xase of `loc` slection.

syntax:
```
df.loc[:, 'col_start':'col_end']
```
`col_start` and `col_end` = Starting and ending point of column slice, slice includes both endpoints.

- th efirst value passed to `loc` is used to selecrt rows, using a : as the row slection parameter means "select all the rows"

### Example

In [21]:
# Select columns between CSM_winter and MUL_fall
csm_mull = df.loc[:, 'CSM_winter': 'MUL_fall']
csm_mull.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

### Selcting rows...

### ... using a condition

syntax:
```
df[condtion_on_rows]
```
That 'condtion' can be many things

### Example
we are intertestee in all data after 2020

In [23]:
# Select all rows with year > 2020
post_2020 = df[ df['year']>2020 ]
post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Condtion for out rows = df['year']>2020 this is a `panda.series` with boolean values.
indicated whihc rows stasfy the confition >2020

In [25]:
#check th etype of df['year']>2020
print(type(df['year']>2020))

#print the boolean series
df['year']>2020

<class 'pandas.core.series.Series'>

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool

### check on
get the subset of the data on hwwihc the San Dieguito wetland has at least 75 species recorded during spring.

In [28]:
# Select all rows with year > 2020
species75 = df[ df['SDW_spring']>=75 ]
species75

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

### Example

suppose we want to look at data from 2012 to 2015 (including both year.)

In [29]:
subset = df[df['year'].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

- `df['year']` = column with year values, this a `panda.Series`
- `df['year'].beterrrn()` we have that `between()` is a method for the pandas.Series. Calling it using `.`
- 2012,2015: aprameters. if we look at the documentation we can see that the method inclused both endooints 
- `df['year'].between(2012,2015)` = a pandas.Series of boolean values indicating ehihc rows have year equal to 2012-2015
- when you put `df['year'].between(2012,2015)` in the slection bracets, we obtain thr eows we need

### avoid using `loc` for slecting only rows

it is equivient to write

```
# Seelct rows with year<2015
df[df[year]<2015]
```
and 

```
df.loc[df['year']<2015, :]
```
in the second one:
- using `df.loc[row-slection, coliumn-slestion]`
- the row sleection is the condition `df['year]<2015'`
- the column slection is ':'  = all columns

## ... using multiple conditions

we can combin econditons to seltc rows by surrounding each in parenthasis `()` using the operator `|` and the and operator `&`.

### Example or

In [39]:
# SElect rows in CSM with more thna 50 species in winter or fall
df[ (df['CSM_winter']>50) | (df['CSM_fall']>50)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [ ]:
slect rows in whihc both CSM and SDW have more than 60 boad species during spinr

In [43]:
df[ (df['CSM_spring']>60) & (df['SDW_spring']>60)]

Empty DataFrame
Columns: [year, CSM_winter, CSM_spring, CSM_fall, MUL_winter, MUL_spring, MUL_fall, SDW_winter, SDW_spring, SDW_fall, TJE_winter, TJE_spring, TJE_fall]
Index: []