In [5]:
import pandas as pd
import numpy as np

In [3]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[ 0.69870421 -0.24655778 -0.29159618  0.0330485 ]

<class 'pandas.core.series.Series'>
0    0.698704
1   -0.246558
2   -0.291596
3    0.033049
dtype: float64

In [5]:
s = pd.Series(data, index=index)

ValueError: Length of values (2) does not match length of index (3)

In [10]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [12]:
pd.Series(data=[2023, 2024, 2025], index=np.arange(3))

0    2023
1    2024
2    2025
dtype: int64

In [13]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [16]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [17]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

In [26]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [27]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

In [28]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [29]:
# Check if series has NAs
s.hasnans

True

In [30]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

### Check in

1. 
The integer number -999 is often used to represent missing values. Create a pandas.Series named s with four integer values, two of which are -999. The index of this series should be the the letters A through D.

2. 
In the pandas.Series documentation, look for the method mask(). Use this method to update the series s so that the -999 values are replaced by NA values. HINT: check the first example in the method’s documentation.

In [6]:
# 1.
#creats a series
s = pd.Series([-999, 1, 1, -999], index=['A','B','C','D'])
print(s)

A   -999
B      1
C      1
D   -999
dtype: int64

In [8]:
s = s.mask(s == -999, np.nan)
print(s)

A    NaN
B    1.0
C    1.0
D    NaN
dtype: float64

In [38]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [39]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

### Check in

We can access the data frame’s column names via the columns attribute. Update the column names to C1 and C2 by updating this attribute.

In [47]:
df.columns = ['C1', 'C2']
print(df)

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

Make a summary of the lesson. What are the most important concepts or ideas?

- I can make a series by s = pd.Series([-999, 1, 1, -999], index=['A','B','C','D']), but I don't always have to specify the index if i just want it numbered

- i can change indexs/columns by doing df.index = ['a','b','c'] and df.columns = ['C1','C2']

- s.isna() and s.hasnan will show me if a series has NAs and which rows have NAs

- My code comments should explain why not just what

- I should make my code simpler instead of just over explaning it

- keep inline comments short